<footer class="footer @@modifier">
	<div class="container">
		<div class="row between-lg between-md" >
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<a href="./index.html" class="logo">
	<img src="./img/logo.png" alt="img" />
</a>

				<div class="footer__copyright" data-da=".footer-copyright .container, 1023, first">
					ProfiMake - лучший интернет-магазин косметики в Украине. Все права защищены © 2021
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
				<div class="footer__title">Каталог</div>
				<ul class="footer-menu">
					<li><a href="./catalog.html" class="footer-menu__link">Гели</a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Лицо и тело</a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Гель-лаки</a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Фрезеры и насадки</a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Дезинфекция и стерилизация</a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Материалы для маникюра</a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Декор для ногтей</a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Наборы</a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Жидкости</a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Сертификаты</a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Инструменты</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
				<div class="footer__title">Навигация</div>
				<ul class="footer-menu">
					<li><a href="./blog.html" class="footer-menu__link">Новости</a></li>
					<li><a href="./about.html" class="footer-menu__link"> О магазине </a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Акции</a></li>
					<li><a href="./contacts.html" class="footer-menu__link">Контакты </a></li>
					<li><a href="./catalog.html" class="footer-menu__link">Скидки</a></li>
					<li><a href="./guarantee-return.html" class="footer-menu__link">Условия возврата</a></li>
					<li><a href="./delivery-payment.html" class="footer-menu__link">Оплата и Доставка</a></li>
					<li><a href="./loyalty-program.html" class="footer-menu__link">Соглашение пользователя</a></li>
				</ul>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 footer__contacts">
				<div class="footer__title">Контакты</div>
				<div class="footer-contact">
					<div class="footer-contact__icon">
						<img src="./img/pin.svg" alt="img">
					</div>
					<span class="footer-contact__label">г. Киев, ул. Бориспольская 7</span>
				</div>
				<a href="#" class="footer-contact">
					<div class="footer-contact__icon">
						<img src="./img/phone.svg" alt="img">
					</div>
					<span class="footer-contact__label">+38 (063) 032 50 21</span>
				</a>
				<a href="#" class="footer-contact">
					<div class="footer-contact__icon">
						<img src="./img/phone.svg" alt="img">
					</div>
					<span class="footer-contact__label">+38 (063) 032 50 21</span>
				</a>
				<a href="#" class="footer-contact">
					<div class="footer-contact__icon">
						<img src="./img/mail.svg" alt="img">
					</div>
					<span class="footer-contact__label">order@profimake.com</span>
				</a>
				<div class="social">
	<a href="#" class="social__item">
		<img src="./img/inst.svg" alt="img" />
	</a>
	<a href="#" class="social__item">
		<img src="./img/facebook.svg" alt="img" />
	</a>
	<a href="#" class="social__item">
		<img src="./img/youtube.svg" alt="img" />
	</a>
</div>

			</div>
		</div>
	</div>
</footer>
<div class="footer-copyright">
	<div class="container"></div>
</div>
<button class="btn-help">
	<svg><use href='./img/sprite.svg#mail'></use></svg>
	<span class="btn-help__caption">
		Помощь
	</span>
</button>
<button class="btn-to-top " data-action="to-top">
<span>Вверх</span>
</button>
<div class="modal" id="newsletter">
	<div class="modal__decoration-img modal__decoration-img_newsletter">
		<img src="./img/modal-decoration-img-1.png" alt="img" />
	</div>
	<div class="modal__img">
		<img src="./img/modal-img-1.png" alt="img" />
	</div>
	<div class="modal__text">
		<div class="modal__title">подписаться на новости</div>
		<div class="modal__subtitle">Хотите узнавать новинки, акции, популярные товары на нашем сайте?</div>
		<form>
			<div class="modal__input">
				<input type="email" placeholder="E-mail" />
				<svg><use href="./img/sprite.svg#mail"></use></svg>
			</div>
			<button type="submit" class="modal__btn-submit">Отправить</button>
		</form>
	</div>
</div>

<div class="modal" id="newsletter-success">
	<div class="modal__decoration-img modal__decoration-img_newsletter">
		<img src="./img/modal-decoration-img-1.png" alt="img" />
	</div>
	<div class="modal__img">
		<img src="./img/modal-img-1.png" alt="img" />
	</div>
	<div class="modal__text">
		<div class="modal__title">Спасибо за подписку</div>
		<div class="modal__subtitle">Вы начнете получать самые свежие новости прямо сейчас</div>
		<a href class="modal__btn-submit">Главная</a>
	</div>
</div>

<div class="modal" id="order-success">
	<div class="modal__img">
		<img src="./img/modal-img-2.png" alt="img" />
	</div>
	<div class="modal__text">
		<div class="modal__title modal__title_wide">Спасибо за заказ</div>
		<div class="modal__subtitle">Мы вам позвоним для подтверждения заказа в ближайшее время</div>
		<a href class="modal__btn-submit">Главная</a>
	</div>
</div>

<div class="modal" id="callback">
	<div class="modal__decoration-img modal__decoration-img_callback">
		<img src="./img/modal-decoration-img-2.png" alt="img" />
	</div>
	<div class="modal__img">
		<img src="./img/modal-img-3.png" alt="img" />
	</div>
	<div class="modal__text">
		<div class="modal__title">Остались вопросы ?</div>
		<div class="modal__subtitle">Оставьте заявку, мы перезвоним и проконсультируем вас</div>
		<form>
			<div class="modal__input">
				<input type="tel" placeholder="Телефон" />
				<svg><use href="./img/sprite.svg#phone"></use></svg>
			</div>
			<button type="submit" class="modal__btn-submit">Отправить</button>
		</form>
	</div>
</div>

<div class="modal" id="callback-success">
	<div class="modal__decoration-img modal__decoration-img_callback">
		<img src="./img/modal-decoration-img-2.png" alt="img" />
	</div>
	<div class="modal__img">
		<img src="./img/modal-img-3.png" alt="img" />
	</div>
	<div class="modal__text">
		<div class="modal__title">Спасибо за заявку</div>
		<div class="modal__subtitle">
			Мы свяжемся с вами <br />
			в ближайшее время
		</div>
		<a href class="modal__btn-submit">Главная</a>
	</div>
</div>

<div class="modal" id="error">
	<div class="modal__text">
		<div class="modal__title modal__title_red">Ошибка</div>
		<div class="modal__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, vitae!</div>
		<a href class="modal__btn-submit">Главная</a>
	</div>
</div>

<div class="modal" id="success">
	<div class="modal__text">
		<div class="modal__title modal__title_green">Спасибо за заявку</div>
		<div class="modal__subtitle">Lorem ipsum dolor sit amet.</div>
		<a href class="modal__btn-submit">Главная</a>
	</div>
</div>

<script src="./js/jquery.min.js"></script>
<script src="./js/app.min.js"></script>
</body>
</html>
