<div class="modal" id="newsletter">
	<div class="modal__decoration-img modal__decoration-img_newsletter">
		<img src="./img/modal-decoration-img-1.png" alt="img" />
	</div>
	<div class="modal__img">
		<img src="./img/modal-img-1.png" alt="img" />
	</div>
	<div class="modal__text">
		<div class="modal__title">подписаться на новости</div>
		<div class="modal__subtitle">Хотите узнавать новинки, акции, популярные товары на нашем сайте?</div>
		<form>
			<div class="modal__input">
				<input type="email" placeholder="E-mail" />
				<svg><use href="./img/sprite.svg#mail"></use></svg>
			</div>
			<button type="submit" class="modal__btn-submit">Отправить</button>
		</form>
	</div>
</div>

<div class="modal" id="newsletter-success">
	<div class="modal__decoration-img modal__decoration-img_newsletter">
		<img src="./img/modal-decoration-img-1.png" alt="img" />
	</div>
	<div class="modal__img">
		<img src="./img/modal-img-1.png" alt="img" />
	</div>
	<div class="modal__text">
		<div class="modal__title">Спасибо за подписку</div>
		<div class="modal__subtitle">Вы начнете получать самые свежие новости прямо сейчас</div>
		<a href class="modal__btn-submit">Главная</a>
	</div>
</div>

<div class="modal" id="order-success">
	<div class="modal__img">
		<img src="./img/modal-img-2.png" alt="img" />
	</div>
	<div class="modal__text">
		<div class="modal__title modal__title_wide">Спасибо за заказ</div>
		<div class="modal__subtitle">Мы вам позвоним для подтверждения заказа в ближайшее время</div>
		<a href class="modal__btn-submit">Главная</a>
	</div>
</div>

<div class="modal" id="callback">
	<div class="modal__decoration-img modal__decoration-img_callback">
		<img src="./img/modal-decoration-img-2.png" alt="img" />
	</div>
	<div class="modal__img">
		<img src="./img/modal-img-3.png" alt="img" />
	</div>
	<div class="modal__text">
		<div class="modal__title">Остались вопросы ?</div>
		<div class="modal__subtitle">Оставьте заявку, мы перезвоним и проконсультируем вас</div>
		<form>
			<div class="modal__input">
				<input type="tel" placeholder="Телефон" />
				<svg><use href="./img/sprite.svg#phone"></use></svg>
			</div>
			<button type="submit" class="modal__btn-submit">Отправить</button>
		</form>
	</div>
</div>

<div class="modal" id="callback-success">
	<div class="modal__decoration-img modal__decoration-img_callback">
		<img src="./img/modal-decoration-img-2.png" alt="img" />
	</div>
	<div class="modal__img">
		<img src="./img/modal-img-3.png" alt="img" />
	</div>
	<div class="modal__text">
		<div class="modal__title">Спасибо за заявку</div>
		<div class="modal__subtitle">
			Мы свяжемся с вами <br />
			в ближайшее время
		</div>
		<a href class="modal__btn-submit">Главная</a>
	</div>
</div>

<div class="modal" id="error">
	<div class="modal__text">
		<div class="modal__title modal__title_red">Ошибка</div>
		<div class="modal__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, vitae!</div>
		<a href class="modal__btn-submit">Главная</a>
	</div>
</div>

<div class="modal" id="success">
	<div class="modal__text">
		<div class="modal__title modal__title_green">Спасибо за заявку</div>
		<div class="modal__subtitle">Lorem ipsum dolor sit amet.</div>
		<a href class="modal__btn-submit">Главная</a>
	</div>
</div>
