<div class="newsletter">
	<div class="newsletter__img newsletter__img_left">
		<picture>
			<source srcset="./img/newsletter-img_mobile.png" media="(max-width:767px)" />
			<source srcset="./img/newsletter-img_tablet.png" media="(min-width:768px) and (max-width:1023px)" />
			<img src="./img/newsletter-img.png" alt="img" />
		</picture>
	</div>
	<div class="newsletter__img newsletter__img_right">
		<img src="./img/newsletter-deco.png" alt="img" />
	</div>
	<div class="container">
		<div class="row middle-lg end-lg end-md end-sm middle-md middle-sm">
			<div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
				<div class="newsletter__title">
					подписаться <br />
					на новости
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
				<div class="newsletter__subtitle">Хотите узнавать новинки, акции, популярные товары на нашем сайте?</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-7 col-xs-12">
				<a href="#" class="newsletter__btn"> Подписаться </a>
			</div>
		</div>
	</div>
</div>
