<ul class="pagination">
	<li class="pagination__next">
		<a href="#">
			<svg><use href="./img/sprite.svg#arrow2"></use></svg>
		</a>
	</li>
	<li class="active pagination__item">
		<span>1</span>
	</li>
	<li class="pagination__item"><a href="#">2</a></li>
	<li class="pagination__item"><a href="#">3</a></li>
	<li class="pagination__item"><a href="#">4</a></li>
	<li class="pagination__item"><a href="#">5</a></li>
	<li class="pagination__item pagination__item_last"><a href="#">6</a></li>
	<li class="pagination__prev">
		<a href="#">
			<svg><use href="./img/sprite.svg#arrow2"></use></svg>
		</a>
	</li>
</ul>
