<div class="header-cart js-dropdown">
	<div class="header-cart__heading">
		<div class="header-cart__title">Ваша корзина</div>
		<button class="btn-close" data-action="close">
			<svg><use href="./img/sprite.svg#cross2"></use></svg>
		</button>
	</div>
	<div class="header-cart-card">
	<a href="./product-page.html" class="header-cart-card__img">
		<img src="./img/product-card-1.png" alt="img" />
	</a>
	<a href="./product-page.html" class="header-cart-card__title">CND Shellac Power Polish</a>
	<div class="header-cart-card__quantyti">1 шт</div>
	<div class="header-cart-card__price">200 ₴</div>
	<div class="btn-delete">
		<svg><use href="./img/sprite.svg#cross"></use></svg>
	</div>
</div>

	<!--  -->
	<div class="header-cart-card">
	<a href="./product-page.html" class="header-cart-card__img">
		<img src="./img/product-card-1.png" alt="img" />
	</a>
	<a href="./product-page.html" class="header-cart-card__title">CND Shellac Power Polish</a>
	<div class="header-cart-card__quantyti">1 шт</div>
	<div class="header-cart-card__price">200 ₴</div>
	<div class="btn-delete">
		<svg><use href="./img/sprite.svg#cross"></use></svg>
	</div>
</div>

	<div class="header-cart__total">
		<span>Итого</span>
		<b>400 ₴</b>
	</div>
	<a href="./checkout.html" class="btn btn-primary btn-blue">Оформить заказ</a>
</div>
