<div class="header-info" data-da=".header-mobile,767,last">
	<div class="header-info__wrapper">
		<div class="header-info__item dropdown">
			<div class="caption">Город:</div>
			<div class="dropdown__toggle city">
				Киев
				<svg><use href="./img/sprite.svg#arrow2"></use></svg>
				<ul class="dropdown-menu">
					<li><a href="#" class="dropdown-menu__link"> Днепр </a></li>
					<li><a href="#" class="dropdown-menu__link"> Харьков </a></li>
					<li><a href="#" class="dropdown-menu__link"> Одесса </a></li>
				</ul>
			</div>
		</div>
		<div class="header-info__item">
			<a href="#" class="phone">+38 (063) 032 50 21</a>
		</div>
	</div>
	<div class="header-info__item">
		<span class="lang active">Укр</span>
		<a href="#" class="lang">Рус</a>
	</div>
</div>
