<ul class="submenu-items @@class" data-list="@@data">
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem, ipsum.</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Гель</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet consectetur. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Гель</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem, ipsum.</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Гель</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet consectetur. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Гель</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem, ipsum.</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Гель</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet consectetur. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Гель</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem, ipsum.</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Гель</div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet consectetur. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Lorem ipsum dolor sit amet. </div>
	</a>
</li>

	<!--  -->
	<li class="submenu-items__card">
	<a href="./catalog.html">
		<div class="submenu-items__img">
			<img src="./img/product-card-1.png" alt="img" />
		</div>
		<div class="submenu-items__title">Гель</div>
	</a>
</li>

</ul>
