<div class="comparison-card">
	<button class="comparison-card__delete-btn">
		<svg><use href="./img/sprite.svg#cross"></use></svg>
	</button>
	<a href="./product-page.html" class="comparison-card__img">
		<img src="./img/product-card-1.png" alt="img" />
	</a>
	<a href="./product-page.html" class="comparison-card__title">CND Shellac Power Polish</a>
	<div class="row middle-lg middle-md middle-sm">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="comparison-card__price">400 ₴</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<a href="./checkout.html" class="comparison-card__buy-btn">Купить</a>
		</div>
	</div>
</div>
