<div class="discount-card">
	<a href="./product-page.html" class="discount-card__img">
		<img src="./img/discount-card-img.png" alt="img" />
	</a>
	<div class="discount-card__description">
		<div class="discount-card__title">CND Shellac Base Coat</div>
		<div class="discount-card__price">
			<div class="old">200 грн</div>
			<div class="current">300 грн</div>
			<div class="percent">-40%</div>
		</div>
		<div class="discount-card__text">
			Скидка 30% на весь ассортимент Hawaii Kos Kosmystik. Цены на сайте указаны с учетом скидки
		</div>
	</div>
</div>
