<div class="history-card">
	<a href="./product-page.html" class="history-card__img">
		<img src="./img/account-history-img.png" alt="img" />
	</a>
	<a href="./product-page.html" class="history-card__title">CND Shellac Power Polish</a>
	<div class="history-card__quantity"><b>x1</b></div>
	<div class="history-card__price"><b>200 ₴ </b></div>
	<div class="history-card__bottom">
		<div class="history-card__date">
			<span class="caption">Дата:</span>
			<strong>09.06.2021</strong>
		</div>
		<div class="history-card__status @@status-modifier">
			<span class="caption">Cтатус:</span>
			<strong>@@status-text</strong>
		</div>
	</div>
</div>
