<div class="reviews-card">
	<div class="reviews-card__product">
		<a href="./product-page.html" class="reviews-card__img">
			<img src="./img/account-reviews-img.png" alt="img" />
		</a>
		<div class="reviews-card__title">
			CND Shellac <br />
			Base Coat
		</div>
	</div>
	<div class="reviews-card__description">
		<div class="reviews-card__description-heading">
			<div class="reviews-card__name">Иван Иванов</div>
			<div class="rating">
				<svg><use href="./img/sprite.svg#star"></use></svg>
				<svg><use href="./img/sprite.svg#star"></use></svg>
				<svg><use href="./img/sprite.svg#star"></use></svg>
				<svg><use href="./img/sprite.svg#star"></use></svg>
				<svg><use href="./img/sprite.svg#star"></use></svg>
			</div>
		</div>
		<p>
			Люблю продукцию фирмы Cnd, но этот топ изначально идет густой, через два месяца загустел настолько, что
			распределить его тяжело. Плохой глянец, да и трещены дает. А вот в старой версии он был хороший)
		</p>
		<div class="reviews-card__bottom">
			<div class="status status_green">
				<svg><use href="./img/sprite.svg#check"></use></svg>
				<span>Покупка подтверждена</span>
			</div>
			<div class="date">18 мая 2021</div>
		</div>
	</div>
</div>
